/* Global styles */

/*.section {border: 2px solid red;}*/

body {margin: 0;
      padding-top: 10px;
      font-family: "Droid Serif", serif;
      line-height: 1.5rem;
      color: hsla(29, 43%, 8%, 1);}

div {padding: 0%;}

h1, h2, h3, h4 {font-family: "Oswald", sans-serif;}
h2 {color: hsla(76, 36%, 29%, 1);}

li {list-style: none;}

.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden; }

.offscreen:focus {
  position:static;
  width:auto;
  height:auto; }


/* Header and nav styles */

header img {width: 80px;
            float:left;
            padding-right: 20px;}

header h1 { padding-top: 5px;
            color: hsla(35, 56%, 15%, 1);}

/*tighten up space between rows in header */
header div.col {margin: 0px;}
header div.section.group {background-color: hsla(76, 36%, 50%, 1);}

header div.section:first-of-type {background-color: white;
                                  padding-left: 30px;
                                  padding-bottom: 1%;}

/*tighten up space between rows in header */
header div nav ul {margin: 0px;}

header div nav.subnav:last-of-type {background-color: hsla(79, 60%, 90%, 1);}

nav.subnav li {font-weight: 300;}

header li { display: inline-block;
            padding: 0.5rem;
            font-family: "Oswald", sans-serif;}

header a:link {text-decoration: none;}

header nav:not(.subnav) a:link {color: hsla(360, 100%, 100%, 1);}
header nav:not(.subnav) a:visited {color: hsla(79, 60%, 90%, 1);}

header nav.subnav a:link {color: hsla(76, 36%, 29%, 1);}
header nav.subnav a:visited {color: hsla(76, 36%, 51%, 1);}

.fa-stack { color: white;
            font-size: 1rem;}
.fa-inverse {color: hsla(76, 36%, 50%, 1);}

nav { background-color: hsla(76, 36%, 50%, 1);
      height: 50px;}

nav li a:hover {text-decoration: underline;}

nav li {padding-top: 12px;}

nav ul {padding-left: 20px;}

div.span_1_of_3 nav li {float: right;}


/* Main content area styles */

.container {padding-right: 40px;}
#container {padding-right: 40px;}

.container img {width: 200px;
                float: left;
                padding-right: 20px;}

#container img {width: 30px;
                float: left;
                padding-right: 10px;}

.container h3 {clear: both;}

.container article {border-bottom: solid 1px lightgray;}
.container article:first-of-type {border-top: solid 1px lightgray;
                                  padding-top: 20px;}

#container article {border-bottom: solid 1px lightgray;}
#container article:last-of-type { border-bottom: none;
                                  padding-bottom: 20px;}

#container li {list-style: square;}

.classlist {padding-left: 0;}

.classlist li { border-bottom: none;
                display: inline-block;
                padding-right: 15px;
                padding-left: 10px;
                border-right: solid 1px lightgray;
                font-size: 0.8rem;}

.classlist li:first-of-type { padding-left: 0;
                              border-right: none;}
.classlist li:last-of-type {border-right: none;}

.container article p {font-size: 0.8rem;
                      line-height: 1.2rem;
                      padding-right: 40px;}

#container article p {font-size: 0.8rem;
                      line-height: 1rem;
                      padding-right: 40px;}

.container a:link {color: hsla(76, 36%, 29%, 1);}
.container a:hover {background-color: hsla(42, 100%, 84%, 0.7);}
.container a:visited {color: gray;}

#lessons {border-top: solid 4px hsla(76, 36%, 50%, 0.5);
          padding-top: 20px;}

#policies {padding-top: 20px;}


/* Aside styles */

aside {padding-left: 30px;}

aside a:link {color: hsla(76, 36%, 29%, 1);}
aside a:hover {background-color: hsla(42, 100%, 84%, 0.7);}

aside h4 {padding-top: 20px;}
aside h4:first-of-type {padding-top: 0;}

aside img {max-width: 90%;}
aside p { font-size: 0.8rem;
          line-height: 1.2rem;}
aside a { font-size: 0.8rem;
          line-height: 1.2rem;}

aside ul {padding-left: 20px;}
aside ul li { font-size: 0.8rem;
              line-height: 1.2rem;}


/* Footer styles */
/*footer div.section.group{background-color: hsla(76, 36%, 50%, 1);} */
footer {background-color: hsla(79, 60%, 90%, 1);
        font-size: 0.8rem;}

footer a:link {color: hsla(76, 36%, 29%, 1);}

/*padding-left: 30px;*/
footer p {padding-left: 30px;}